@height: 60px;

.music-player-no-music {
  display: flex;
  justify-content: center;
  align-items: center;
  height: @height;
}

.music-player {
  position: relative;
  height: @height;
  box-sizing: border-box;
  min-width: 800px;
  background-color: var(--color-middle);

  .play-progress {
    width: 100%;
    height: 4px;
    // background-color: var(--color-light);
    background-color: #ccc;

    .current {
      position: relative;
      height: 100%;
      background-color: var(--red);
      transition: width linear 0.3;
    }

    @width: 16px;
    .dot {
      position: absolute;
      right: 0;
      top: 50%;
      width: @width;
      height: @width;
      
      border-radius: 50%;
      background-color: var(--red);
      transform: translateY(-50%) translateX(@width;);
      cursor: pointer;
    }
  }

  .info {
    height: calc(@height - 4px);
    display: flex;
    align-items: center;
    padding: 0 10px;

    svg {
      cursor: pointer;
    }

    .muisc {
      display: flex;
      flex-direction: row;
      flex-basis: 250px;
      color: var(--text-color);

      .ant-avatar {
        margin-right: 10px;
      }
    }
    
    .control {
      margin: 0 auto;
      font-size: 28px;
      
      .next, .prev, .play, .pause {
        color: var(--text-color);
      }

      .play, .pause {
        margin: 0 10px;
        color: var(--red);
      }
    }

    .list {
      direction: rtl;
      font-size: 20px;
      flex-basis: 250px;
      color: var(--text-color);
      
      .musiclist {
        margin: 0 20px;
      }
    }
  }

  .muisc-list-container {
    position: absolute;
    right: 0;
    bottom: @height;

    width: 300px;
    background-color: var(--color-light);
    overflow: hidden;
    transition: width .3s ease;

    &.hidden {
      width: 0;
    }

    .muisc-list {
      overflow-y: scroll;
    }

    .music-list-item {
      width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      cursor: pointer;
    }

    .index {
      color: var(--gray-text-color);
    }

    .img {
      margin: 0 10px;
    }
  }
}