@primary-linear-gradient: rgba(@primary-color, 30%);

:root {
  --color-deep: #1f2731;
  --color-middle: #242f3c;
  --color-light: #2c3b4b;
  --red: @primary-color;
  --red-linear-gradient: @primary-linear-gradient;
  --text-color: #fff;

  --gray-text-color: rgb(134, 134, 134);
}